@import '../../styles/_colors.scss';
@import '../../styles/_mixins.scss';

.toggle {
    align-self: flex-end;
    position: absolute;
    font-size: 2.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $menu-font-color;

    @include breakpoint(sm) {
        display: none;
    }
}