@import '../../styles/_colors.scss';
@import '../../styles/_mixins.scss';

.nav-links {
    display: none;

    @include breakpoint(sm) {
        @include menu-row();
    }
}

.nav-links--expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    padding-top: 32px;
    color: $menu-font-color;
    list-style: none;
    text-decoration: none;

    @include breakpoint(sm) {
        @include menu-row();
        padding-top: 0;
        height: auto;
    }
}

.link {
    display: block;
    width: 100vw;
    padding: 16px 0 16px 0;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: $button-color;
    }

    @include breakpoint(sm) {
        width: auto;
        margin-left: 50px;
        padding-bottom: 0;

        &:hover {
            background-color: transparent;
        }
    }

}