$main-bg-color: #2B3648;
$secondary-bg-color: #3D495C;

$menu-bg-color: #212936;
$menu-font-color: #AFBDD1;

$main-text-color: #DBDBDB;

$main-table-color: #3D495C;
$secondary-table-color: #323F53;
$button-color: #637086;