@import '../styles/_colors.scss';
@import '../styles/_mixins.scss';

.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px;
    height: 80vh;
    border-radius: 20px;
    background-color: $secondary-bg-color;
    color: $main-text-color;

    @include breakpoint(sm) {
        align-items: flex-start;
    }
}

.about-title--h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.about-title--h2 {
    font-size: 1.5rem;
    padding-top: 20px;
    text-align: center;
}

.about-text {
    padding-top: 15px;
}

.about-list {
    padding: 15px 0 0 15px;
}