@import '../styles/_colors.scss';

.button {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: $button-color;

}

.button__icon {
    padding-right: 10px;
    color: $main-text-color;
}

.button__text {
    color: $main-text-color;
}